<%= image_tag @recipe.image.url(:medium) %>

<h1>
  <%= @recipe.title %>
</h1>

comment count:
<%= @recipe.comments_count%>

<%= like_button @recipe %>
<%= bookmark_button @recipe %>

<% if @recipe.description.present? %>
    <p><%= @recipe.description %></p>
<% end %>

<%= link_to @recipe.username, @recipe.user %>

<%= render "ingredients", recipe: @recipe %>
<%= render "steps", recipe: @recipe %>
<%= render "comments", recipe: @recipe %>

<%= form_for [@recipe, @recipe.comments.new] do |form| %>
    <%= render "comment_fields", form: form %>

    <div>
      <%= form.submit t(".comment") %>
    </div>
<% end %>
<br>
<% if current_user.owns?(@recipe) %>
    <%= render "controls", recipe: @recipe %>
<% end %>