<% if @user.errors.any? %>
    <%= pluralize(@user.errors.count, "error") %> prevented your account from being created:
    <ul>
      <% @user.errors.full_messages.each do |error_message| %>
          <li><%= error_message %></li>
      <% end %>
    </ul>
<% end %>
<br>
<div>
  <%= image_tag @user.avatar.url(:thumb) %>
  <%= form.file_field :avatar %>
</div>
<br>
<div>
  <%= form.label :username %>
  <%= form.text_field :username, require: true %>
</div>
<div>
  <%= form.label :email %>
  <%= form.email_field :email, require: true %>
</div>
<div>
  <%= form.label :password %>
  <%= form.password_field :password, require: true %>
</div>

<br>
