<header>
  <fieldset>
  <nav>
    <% if signed_in? %>
        <%= image_tag current_user.avatar.url(:thumb) %>
        <%= link_to current_user.username, [:edit, :my, current_user]%>
        <%= link_to t("my_recipes"), current_user %>
        <%= link_to t("sign_out"), session_path, method: :delete %>
    <% else %>
        <%= link_to t("sign_up"), new_user_path %>
        <%= link_to t("sign_in"), new_session_path %>
    <% end %>
    <br><br>
  </nav>
  </fieldset>
</header>